<span>Folders</span>
    <!-- <button mat-raised-button (click)="folderPicked(item)">
      {{item}}
    </button> -->
    <div class="folder-container">
    <div class="folder-icon" *ngFor="let item of moviesAndFolders.folders" (click)="folderPicked(item)">
      <img src="../../assets/icons/folder_64.ico">
      <div>
        <span>{{item}}</span>
      </div>
    </div>
  </div>
    <hr>


<br><br>
<span>Movies</span>
<ol >
  <li *ngFor="let item of moviesAndFolders.movies">
    {{item}}
  </li>
</ol>
